# Compiled files should not be included, as they are build specific

src/*.o
src/*.gcno
src/*.gcov
src/raDI
bin/raDI

# Output demo files should not be included

demo/1ATG_A_with*

# Unified MSA data from publication does not fit git size requirements

publication_data/input_msa.tar.gz